<<<<<<< HEAD
body{
  font-family: microsoft yahei;
  font-size: 62.5%;
}
#buildBox{
  border: 0.1rem solid #ccc;
  height: 60rem
}
.nav-tabs>li>a{
  font-size: 2rem;
}
html{
	font-size: 62.5%;
	font-family: "microsoft yahei";
}
body{
	font-family: "microsoft yahei";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select:none;
}
h1{
	font-size: 3.6rem;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2.4rem;
}
h4{
	font-size: 1.8rem;
}
h5{
	font-size: 1.4rem;
}
h6{
	font-size: 1.2rem;
}
label{
	font-weight: 400;
	font-size: 1.5rem;
}
.container{
	padding-top: 10rem;
}
.part{
	margin: 3rem 0;
}
.part a.btn{
	margin-bottom: 1rem;
}
.tab-content{
	padding: 0 4rem 5rem 0rem;
}
.clearfix{
	clear: both;
	margin-top: 2.8rem;
}
.nav-tabs>li>a{
	font-size: 1.5rem;
}
#formtabs{
	margin-bottom: 20px;
}
#buildBox{
	min-height: 10rem;
	border: 0.1rem solid #ccc;
	margin-bottom: 10rem;
	position: relative;
}
#formtarget{
	width: 100%;
    min-height: 10rem;
    padding: 1.5rem;
    padding-bottom: 10rem;
}
#setAttrBox{
	left: auto;
	width: 25rem;
}
.tab-content .form-group,
.tab-content .control-label,
input,textarea,
#formtarget .form-group,
#formtarget .control-label{
	cursor: pointer;
}
#codeBox{
	overflow-y: auto;
	cursor: text;
}
.form-control.select2-container {
    border: 0;
    height: auto !important;
    padding: 0px;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.select2-container-multi .select2-choices {
	padding-left: 6px;
    min-height: 34px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: auto !important;
    margin: 0;
    position: relative;
    cursor: text;
    overflow: hidden;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 5px 0 3px 5px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border-radius: 3px;
    background-clip: padding-box;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-search-choice-close {
    left: 3px;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-drop {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    border-top: 0;
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
  	border-radius: 0 0 4px 4px;
}
.select2-display-none {
    display: none;
}
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 5px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}
.select2-drop-active {
    border: 1px solid #999999;
    border-top: 0;
}
.select2-results .select2-selected {
    display: none;
}
.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}
.select2-results .select2-highlighted {
    background: #eee;
    color: #333;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: underline;
}
.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    background-color: #fff;
    filter: alpha(opacity=0);
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #999;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}